.login {
  min-height: 100vh;
  display: grid;
  grid-template-columns: min(90vw, 30rem);
  align-content: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--color-grey-100);

  container: login-page / inline-size;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.4;

  @container (width < 50ch) {
    font-size: 1.5rem;
  }
}
