.header {
  background-color: var(--color-grey-0);
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: var(--shadow-sm);

  padding: 0.8rem 1rem;

  button {
    width: min-content;
  }
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}
