.header {
  background-color: var(--color-grey-0);
}

.inner {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;

  margin: 0 auto;
  padding: 0.8rem 1rem;
  max-width: 1440px;

  box-shadow: var(--shadow-sm);

  button {
    width: min-content;
  }
}

.logo {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 500;
}

.user {
  font-weight: 500;
  font-size: 1.3rem;
}
