.word {
  position: relative;

  width: 100%;
  height: 100%;

  border: 1px solid var(--color-grey-50);
  border-left: none;
  background: transparent;

  color: var(--color-grey-50);
  text-shadow:
    3px 0px 7px rgba(0, 0, 0, 0.8),
    -3px 0px 7px rgba(0, 0, 0, 0.8),
    0px 4px 7px rgba(0, 0, 0, 0.8);

  cursor: pointer;
  user-select: none;

  & * {
    transition: background-color 0.3s;
  }
}

.word:hover div {
  background-color: var(--color-brand-800);
}

.content {
  display: grid;
  align-items: center;
  text-align: center;

  width: 100%;
  height: 100%;
  background-color: var(--color-brand-700);

  /* clip concave */
  mask: radial-gradient(10px at 0px 50%, #0000 90%, black);

  /* take concave offset into account in order to visually align narrow pieces like "a", "I", "at" etc */
  .text {
    margin-left: 5px;
  }

  /* Use a media query because when the card is dragged, it is inside the body element, which means it is outside the app container */
  @media (width < 600px) {
    font-size: 0.6rem;
    mask: radial-gradient(5px at 0px 50%, #0000 90%, black);
  }
}

.convex {
  position: absolute;
  z-index: 2;

  top: 50%;
  right: -10px;
  transform: translateY(-50%);

  width: 10px;
  height: 20px;

  /* Use a media query because when the card is dragged, it is inside the body element, which means it is outside the app container */
  @media (width < 600px) {
    right: -5px;
    width: 5px;
    height: 10px;
  }

  border: 1px solid var(--color-grey-50);
  border-left: none;
  border-radius: 0 100px 100px 0;

  background-color: var(--color-brand-700);
}

.word.first .content {
  /* there should be no concave for the first word */
  mask: none;

  /* no concave, so there is no need for a margin */
  .text {
    margin: 0;
  }
}

.word.last .convex {
  display: none;
}
