.word {
  display: grid;
  place-content: center;
  border: 1px solid var(--color-grey-500);
  height: min(40px, 100%);
  background: var(--color-grey-50);

  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: var(--color-brand-500);
    color: var(--color-brand-500);
  }
}

.correct {
  border: none;
  pointer-events: none;
}
