.app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  overflow: auto;
  background-color: var(--color-grey-100);
  /* scrollbar-gutter: stable; */

  container: app / inline-size;
}
