.word {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-grey-500);
  height: 100%;

  cursor: pointer;
  user-select: none;
  transition: all 0.3s;

  &:hover {
    border-color: var(--color-brand-500);
    color: var(--color-brand-500);
  }
}

.borderless {
  border: none;
}
