.info {
  display: grid;
  place-content: center;

  margin: 0 auto;
  width: max-content;

  background-color: var(--color-grey-50);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-md);

  text-align: center;

  font-weight: 500;
  line-height: 1.3;

  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: scaleY(0);

  transition: height 1s;
}

.appeared {
  height: 90px;
  padding: 1rem 1.2rem;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.name {
  font-weight: 900;
  max-width: 35ch;
}

.year {
  font-size: 0.8rem;
}

.author {
}

@keyframes appear {
  100% {
    opacity: 1;
    overflow: visible;
    transform: scaleY(1);
  }
}
