.stats {
  display: grid;
  gap: 1rem;

  grid-template-rows: auto auto 1fr max-content;

  height: 100%;

  @media (orientation: landscape) and (height < 400px) {
    grid-template-rows: auto 1fr max-content;
  }
}

.continue {
  grid-column: 1/-1;
  align-self: end;
  justify-self: center;
  width: max-content;
}

.sentences {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  overflow-y: scroll;

  /* to make place for scrollbar */
  scrollbar-width: thin;
  margin-right: 10px;
}

.rating {
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-yellow-500);
}
