.stats {
  display: grid;
  gap: 1rem;

  @container (width < 500px) {
    grid-template-columns: 1fr;
  }
}

.continue {
  grid-column: 1/-1;
  align-self: end;
  justify-self: center;
  width: max-content;
}

.sentences {
  height: min(400px, 80vh);
  overflow-y: scroll;

  /* to make place for scrollbar */
  scrollbar-width: thin;
  margin-right: 10px;
}
