.field {
  background-color: var(--color-grey-200);
  pointer-events: none;
  border: 1px solid var(--color-grey-500);
}

.active {
  border-bottom: 1px solid var(--color-grey-500);
  pointer-events: all;
}

.word {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-grey-500);
  height: 100%;

  cursor: pointer;
  user-select: none;
}

/* FIX: border stretches row */
.correct {
  pointer-events: none;
  /* outline: 2px solid var(--color-green-700); */

  div {
    border: none;
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;

    width: 20px;
    height: 20px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg);
  }
}

/* TEMP */
/* .correct:not(:first-child) {
  border-top: none;
} */

.incorrect {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;

    width: 20px;
    height: 20px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Cross_red_circle.svg);
  }
}

/* .incorrect:not(:first-child) {
  border-top: none;
} */
