.row {
  height: 40px;
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;

    width: 20px;
    height: 20px;
  }
}

.active {
  border-bottom: 1px solid var(--color-grey-500);
  pointer-events: all;
}

.cell {
  flex: 1;
  transition: all 0.3s;
}

.correct {
  pointer-events: none;

  div {
    transition: all 0.3s;
    border: none;
    background: var(--color-grey-50);
    text-shadow: none;
    color: var(--color-grey-800);
  }

  &::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg);
  }
}

.incorrect {
  &::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Cross_red_circle.svg);
  }
}
