.row {
  height: 10%;
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;

    width: 20px;
    height: 20px;

    @container app (width < 800px) {
      background-image: none;
    }
  }
}

.active {
  border-bottom: 1px solid var(--color-grey-500);
  pointer-events: all;
}

.cell {
  flex: 1;
  transition: all 0.3s;
}

.correct {
  pointer-events: none;

  div {
    border: none;
  }

  &::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg);
  }

  @container app (width < 800px) {
    &::before {
      background-image: none;
    }
    span {
      text-shadow:
        3px 0px 7px color-mix(in srgb, var(--color-green-700) 100%, transparent),
        -3px 0px 7px color-mix(in srgb, var(--color-green-700) 100%, transparent),
        0px 4px 7px color-mix(in srgb, var(--color-green-700) 100%, transparent);
    }
  }
}

.incorrect {
  &::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Cross_red_circle.svg);
  }

  @container app (width < 800px) {
    &::before {
      background-image: none;
    }

    span {
      text-shadow:
        3px 0px 7px color-mix(in srgb, var(--color-red-700) 100%, transparent),
        -3px 0px 7px color-mix(in srgb, var(--color-red-700) 100%, transparent),
        0px 4px 7px color-mix(in srgb, var(--color-red-700) 100%, transparent);
    }
  }
}
