.translation {
  grid-column: 2/3;

  text-align: center;
  font-style: italic;

  transition: filter 0.3s;
  user-select: none;

  @container (width < 500px) {
    font-size: 0.9rem;
  }
}

.blurred {
  filter: blur(7px);
}
