.page {
  display: grid;
  place-content: center;

  grid-template-columns: 1fr;
  row-gap: 1rem;

  width: 768px;
  margin: 0 auto;
  padding: 20px;
}

.hints {
  display: grid;
  justify-items: center;
  align-items: center;

  grid-template-columns: auto 1fr;
  gap: 20px;
}
