.page {
  display: grid;
  place-content: center;

  grid-template-columns: 1fr;
  row-gap: 1.2rem;

  margin: 0 auto;

  container: game-page / inline-size;
  width: min(768px, 100%);
  padding: 5px;
}

.hints {
  display: grid;
  justify-items: center;
  align-items: center;

  grid-template-columns: 35px 1fr;
  grid-template-rows: 35px;
  gap: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
