.controls {
  display: flex;
  gap: 0.5rem;
  align-content: center;

  @container (width < 500px) {
    flex-direction: column;
    align-items: start;
  }
}

.select {
  width: auto;
  height: 2rem;
  padding-left: 0.5rem;

  background-color: var(--color-gray-0);
  border: 1px solid var(--color-brand-600);
  border-radius: var(--border-radius-tiny);
  transition: background-color 0.3s;

  color: var(--color-brand-900);

  &:hover {
    cursor: pointer;
  }
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
}
