.controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  @container (width < 500px) {
    flex-direction: column;
    align-items: start;
  }
}

.select {
  width: 3rem;
  aspect-ratio: 1.7;

  background-color: var(--color-brand-50);
  border: 1px solid var(--color-brand-600);
  border-radius: var(--border-radius-tiny);
  transition: background-color 0.3s;

  text-align: center;
  color: var(--color-brand-900);

  &:hover {
    background-color: var(--color-brand-100);
    cursor: pointer;
  }
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
}
